<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @client_phone.client %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client_phone.phone %>
</p>

<%= link_to 'Edit', edit_client_phone_path(@client_phone) %> |
<%= link_to 'Back', client_phones_path %>
