<tr<%= ' class=list-group-item-danger' if call.duration == 0 && call.call_type_id == 1 %>>
  <td><%= call.phone %></td>
  <td>
    <%= 
      if call.client.present? 
        link_to "#{call.client.id} - #{call.client.name}", call.client 
      end %>
  </td>
  <td><%= format_datetime(call.called_at) %></td>
  <td><%= link_to call.internal.name, call.internal  %></td>
  <td><%= call.duration %></td>
  <td><%= raw(calltype_icon(call.call_type_id)) %></td>
</tr>
