<tr>
  <td><%= call.phone %></td>
  <td><%= call.called_at %></td>
  <td><%= call.duration %></td>
  <td><%= call.internal.name %></td>
  <td><%= call.call_type.name %></td>
  <td><%= call.rings %></td>
</tr>
