<h1>Κλήσεις</h1>
<p id="notice"><%= notice %></p>
<%= form_tag('/calls', method: :get, class: "form-inline") do %>
  <%= date_field_tag :called_at, Time.now, class: "form-control" %>
  <%= submit_tag "Αναζήτηση", class: "btn btn-danger" %>
<% end %>
<br/>
<table class="table">
  <%= render @calls %>
</table>
<%= link_to 'Νέα Κλήση', new_call_path %>
