<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @call.phone %>
</p>

<p>
  <strong>Called at:</strong>
  <%= @call.called_at %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @call.duration %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @call.internal %>
</p>

<p>
  <strong>Call type:</strong>
  <%= @call.call_type %>
</p>

<p>
  <strong>Rings:</strong>
  <%= @call.rings %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
