  <div class="text-center col-md-4 col-sm-12 col-xs-12">
    <p id="notice"><%= notice %></p>

    <p>
    <strong>Κωδικός</strong>
    <%= @client.id %>
    </p>

    <p>
    <strong>Επωνυμία:</strong>
    <%= @client.name %>
    </p>

    <%= link_to 'Επεξεργασία', edit_client_path(@client) %> |
    <%= link_to 'Πελάτες', clients_path %>

    <%= render(
      partial: "client_phones/client_phones",
      locals: {
        mode: "client",
        client_phones: @client.client_phones
      })
    %>

  </div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <h3 class="text-center">Κλήσεις</h3>
    <%= form_tag("/clients/#{@client.id}", method: :get, class: "form-inline") do %>
      <%= date_field_tag :called_at, Time.now, class: "form-control" %>
      <%= submit_tag "Αναζήτηση", class: "btn btn-danger" %>
    <% end %>
    <br/>
    <%= render partial: "calls/calls", locals: {calls: @client.calls} %>
  </div>
