<div class="col-md-4">
  <p id="notice"><%= notice %></p>
  <h1><%= @internal.name %></h1>
  <p>
    <strong>Κωδικός:</strong> 
    <%= @internal.id %>
  </p>
  <p>
  <strong>Τομέας:</strong>
  <%= @internal.sector.name %>
  </p>
  <%= link_to 'Επεξεργασία', edit_internal_path(@internal) %> |
  <%= link_to 'Εσωτερικά', internals_path %>
</div>

<div class="col-md-8 col-sm-12 col-xs-12">
  <h3 class="text-center">Κλήσεις</h3>
  <%= form_tag("/internals/#{@internal.id}", method: :get, class: "form-inline") do %>
    <%= date_field_tag :called_at, Time.now, class: "form-control" %>
    <%= submit_tag "Αναζήτηση", class: "btn btn-danger" %>
  <% end %>
  <br/>
  <% if @internal.calls.present? %>
    <%= render partial: "calls/calls", locals: {calls: @internal.calls} %>
  <% else %>
    <p>Αυτό το εσωτερικό δεν έχει κλήσεις αυτή την ημέρα</p>
  <% end %>
</div>
